@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

html {
  background: url(bg1.png);
  background-size: 3840px 2160px;
  font-family: 'Montserrat', sans-serif;
}

body { 
  height: 100%;
}

.logo > img { 
  width: 17vh;
}

.logo{
  display: flex;
  justify-content: end;
  margin: 2rem;
}

.main{
  display: flex;
  justify-content: center;
}

#title p{
  display: flex;
  text-align: center;
}

#title{ 
  display: flex;
  font-size: 3vh;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  flex-direction: column;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  height: 15vh;
  width: 102vh;
  order: solid 1px;
  border: 1px solid rgba(255, 255, 255, 0.37);
  border-radius: 0.8vh;
}

.all-gift{
  display: flex;
  justify-content: space-around;
}

button > img{
  width: 30vw;
  height: 50vh;
}

.box1, .box2, .box3{
  width: 30vw;
  height: 50vh;
}

.boxHolder1, .boxHolder2, .boxHolder3{
  width: 100%;
}

.boxHolder1 > button, .boxHolder2 > button, .boxHolder3 > button {
  background: none;
  border: none;
}

.game{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 8vh;
}

.game > button{
  background-color: #ff7b0093;
  border-radius: 8px;
  border-style: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vh;
  font-weight: 500;
  height: 5vh;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.game > p{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vh;
}

.game > p, .game > button{
  margin: 10px;
}

#box1_state.boxState, #box2_state.boxState, #box3_state.boxState{
  font-family: 'Montserrat', sans-serif;
  font-size: 8vh;
  margin-top: 25vh;
  justify-content: center;
}

.nombre_gagnant{
  display: none;
}

#restartGame{
  display: none;
}